
@{
    ViewBag.Title = "Quản trị website - Đánh giá sự hài lòng của tổ chức và người dân";
    
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
  
}

<h2>Trang quản trị website đánh giá sự hài lòng thủ tục hành chính TP.HCM</h2>

