@using WebMVC.Entities
@using System.Collections.Generic;
@using System.Web.Helpers;
@model WebMVC.Entities.Role

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("Create", "Role", FormMethod.Post, htmlAttributes: new { @class = "form-add" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.RoleId)

    <div class="modal-content">

        <div class="modal-header">
            Thêm mới roles
        </div>

        <div class="modal-body">

            <div class="clearfix"></div>
            <div class="form-group">
                <label class="control-label col-xs-3 text-right" style="margin-top:7px">Tên roles</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control required" id="RoleName" name="RoleName" placeholder="Nhập tên role...">
                    @Html.ValidationMessageFor(m => m.RoleName)
                </div>
                <label class="control-label col-xs-3 text-right" style="margin-top:15px">Mô tả</label>
                <div class="col-xs-8" style="margin:10px 0">
                    <input type="text" class="form-control required" id="Description" name="Description" placeholder="Nhập mô tả...">
                    @Html.ValidationMessageFor(m=>m.Description)
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Trở về</button>
            <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
    </div>
}