<div id="footer">
    <div class="row">
        <div class="col-sm-12" style=" background: #0a52a0 none repeat scroll 0 0;">
            <div class="footer_top">

                <span>
                    <a href="~/">Trang chủ</a>
                </span>
                <span>
                    <a href="~/danhgia">Đánh giá</a>
                </span>
                <span>
                    <a href="~/thongke">Thống kê</a>
                </span>
                <span>
                    <a href="~/huongdan">Hướng dẫn</a>
                </span>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-12">

            <p class="text-center footer_bottom">

                Bản quyền ©2015 Sở Thông tin và Truyền thông TP. Hồ Chí Minh<br />

                Địa chỉ: 59 Lý Tự Trọng, Quận 1, Thành phố Hồ Chí Minh<br />
                Điện thoại: (84-8) 35 .202.727(84-8)  Fax:  (84-8) 35 202424
            </p>
        </div>
    </div>
</div>