<div id="footer">
    <div class="row">
        <div class="col-sm-12">
            <p class="text-center footer_bottom">
                Bản quyền ©2015 Sở Thông tin và Truyền thông TP. Hồ Chí Minh<br />
                Địa chỉ: 59 Lý Tự Trọng, Quận 1, Thành phố Hồ Chí Minh<br />
                Điện thoại: (84-8) 35 .202.727(84-8)  Fax:  (84-8) 35 202424
            </p>
        </div>
    </div>
</div>