@using Microsoft.AspNet.Identity

<div style="background:url(/Images/IconWeb/bg_top.png);padding-left:10%;width:100%;">
    <div class="divlogo">
    </div>
</div>
<style>
    .divlogo {
        background: url(/Images/IconWeb/cbcc.png) no-repeat;
        min-width: 300px;
        min-height: 110px;
    }
</style>
