@using Microsoft.AspNet.Identity
<div style="background:url(/Images/IconWeb/bg_top.png);height:100px;width:100%;">
    <div class="divlogo">
        <img id="logo" src="~/Images/IconWeb/cbcc.png" />
    </div>
    <div id="word" class="visible-md" style="font-size:1vw;">
        <span style="color:white; font-family: Arial; font-weight: bold;">HỆ THỐNG ĐÁNH GIÁ SỰ HÀI LÒNG CỦA NGƯỜI DÂN VÀ TỔ CHỨC <br />VỀ SỰ PHỤC VỤ CỦA CƠ QUAN HÀNH CHÍNH NHÀ NƯỚC</span>
    </div>
</div>
<div class="bulkhead"></div>
<style>
    .divlogo {
        margin-left: 10%;
        width: 40%;
        height: 100%;
    }

    #logo {
        height: 100%;
        width: 100%;
    }

    #word {
        margin-top: -3%;
        padding-left: 21%;
    }
</style>
