@using WebMVC.Entities
@using System.Collections.Generic;
@using System.Web.Helpers;
@model WebMVC.Entities.LinhVuc


@using (Html.BeginForm())
{

    @Html.HiddenFor(model => model.LinhVucID)

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Cập nhật trạng thái</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                Bạn có muốn thay đổi trạng thái hiện tại?
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Trở về</button>
            <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
    </div>



}
