<div class="row">
    <h2 class="text-center">
        Đánh giá sự hài lòng của tổ chức và người dân
    </h2>
    <div class="clearfix"></div>

    <div class="col-sm-offset-1 col-sm-4  text-left">

        <h2 class="title_h2"> Thông tin cán bộ tiếp nhận hồ sơ</h2>
    </div>
    <div class="clearfix"></div>

    <div class="col-sm-offset-1 col-sm-5 col-sm-5">
        <div class="well well-lg info_user">
            <img class="avata_cccb" src="~/Images/AvataCBCC/cbcc.png" />
        </div>
    </div>
    <div class="col-sm-5 col-sm-5">
        <div class="well well-sm info_user">
            <p class="info_user_per">
                <b>Họ tên:</b>  Nguyễn Thị Hồng Hạnh<br />
                <b> Ngày sinh: </b>  1983<br />

                <b> Trình độ học vấn:</b> Đại học<br />
                <b> Chức vụ:</b> Chuyên viên<br />
                <b> Đơn vị:</b> Sở Ngoại vụ<br />
            </p>
        </div>
    </div>
</div>
<div class="col-sm-offset-1 col-sm-3  text-left">

    <h2 class="title_h2"> Thông tin hồ sơ</h2>
</div>
<div class="clearfix"></div>
<form role="form" class="form-horizontal">

    <div class="form-group">

        <label class="col-sm-offset-1 col-sm-3 label_input_right" for="inputSoBienNhan">Số biên nhận hồ sơ</label>
        <div class="col-sm-5"><input disabled class="form-control" id="inputSoBienNhan" value="854125" placeholder="854125" type="email"></div>
    </div>

    <div class="form-group">

        <label class="col-sm-offset-1 col-sm-3 label_input_right" for="inputSoBienNhan">Họ và tên người nộp hồ sơ</label>
        <div class="col-sm-5"><input disabled class="form-control" id="inputSoBienNhan" value="Nguyễn Văn An " placeholder=" nguyễn văn an" type="email"></div>
    </div>

    <div class="form-group">

        <div class="col-sm-offset-1 col-sm-10">

            <div class="panel panel-default">
                <div class="panel-heading">
                    TIẾP CẬN DỊCH VỤ
                </div>
                <div class="panel-body">
                    <div class="col-md-12">

                        <p>
                            <div class="form-group">
                                <label> 1.	Nguồn thông tin và sự thuận tiện trong việc tìm hiểu thông tin về dịch vụ hành chính</label>
                                <div class="clearfix"></div>
                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">Hài lòng
                                    </label>
                                </div>

                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">Tạm chấp nhận
                                    </label>
                                </div>

                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">Không hài lòng
                                    </label>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </p>

                        <p>
                            <div class="form-group">
                                <label> 2.	Mức độ đáp ứng yêu cầu của tổ chức, người dân về thông tin dịch vụ được cung cấp</label>
                                <div class="clearfix"></div>
                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">Hài lòng
                                    </label>
                                </div>

                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">Tạm chấp nhận
                                    </label>
                                </div>

                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">Không hài lòng
                                    </label>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </p>

                        <p>
                            <div class="form-group">
                                <label> 3.	Mức độ đáp ứng yêu cầu về cơ sở vật chất, trang thiết bị phục vụ tổ chức, người dân tại cơ quan cung cấp dịch vụ hành chính</label>
                                <div class="clearfix"></div>
                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">Hài lòng
                                    </label>
                                </div>
                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">Tạm chấp nhận
                                    </label>
                                </div>
                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">Không hài lòng
                                    </label>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">

        <div class="col-sm-offset-1 col-sm-10">

            <div class="panel panel-default">
                <div class="panel-heading">
                    THỦ TỤC HÀNH CHÍNH
                </div>
                <div class="panel-body">
                    <div class="col-md-12">

                        <p>
                            <div class="form-group">
                                <label> 1.	Việc công khai, minh bạch thủ tục hành chính, biểu mẫu hành chính</label>
                                <div class="clearfix"></div>
                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">Hài lòng
                                    </label>
                                </div>

                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">Tạm chấp nhận
                                    </label>
                                </div>
                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">Không hài lòng
                                    </label>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </p>

                        <p>
                            <div class="form-group">
                                <label> 2.	Sự đơn giản, dễ hiểu trong các quy định về hồ sơ của thủ tục hành chính</label>
                                <div class="clearfix"></div>
                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">Dễ hiểu
                                    </label>
                                </div>
                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">Bình thường
                                    </label>
                                </div>

                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">Khó hiểu
                                    </label>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </p>

                        <p>
                            <div class="form-group">
                                <label> 3.	Sự thuận tiện trong thực hiện quy trình giải quyết thủ tục hành chính</label>
                                <div class="clearfix"></div>
                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">Hài lòng
                                    </label>
                                </div>

                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" checked="" value="option3" id="optionsRadios3" name="optionsRadios">Tạm chấp nhận
                                    </label>
                                </div>

                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">Không hài lòng
                                    </label>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">

        <div class="col-sm-offset-1 col-sm-10">

            <div class="panel panel-default">
                <div class="panel-heading">
                    SỰ PHỤC VỤ CỦA CÔNG CHỨC
                </div>
                <div class="panel-body">
                    <div class="col-md-12">

                        <p>
                            <div class="form-group">
                                <label> 1.	Thái độ phục vụ của công chức</label>
                                <div class="clearfix"></div>
                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">Thân thiện
                                    </label>
                                </div>

                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">Bình thường
                                    </label>
                                </div>
                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">Thiếu thân thiện
                                    </label>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </p>

                        <p>
                            <div class="form-group">
                                <label> 2.	Năng lực giải quyết công việc của công chức</label>
                                <div class="clearfix"></div>
                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">Tốt
                                    </label>
                                </div>

                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">Bình thường
                                    </label>
                                </div>
                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">Không hài lòng
                                    </label>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">

        <div class="col-sm-offset-1 col-sm-10">

            <div class="panel panel-default">
                <div class="panel-heading">
                    KẾT QUẢ GIẢI QUYẾT CÔNG VIỆC
                </div>
                <div class="panel-body">
                    <div class="col-md-12">

                        <p>
                            <div class="form-group">
                                <label> 1.	Số lần liên hệ để hoàn tất thủ tục giao dịch</label>
                                <div class="clearfix"></div>
                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="text" checked="" value="1" id="optionsRadios1" name="optionsRadios">
                                    </label>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </p>

                        <p>
                            <div class="form-group">
                                <label> 2.	Thời gian giải quyết công việc</label>
                                <div class="clearfix"></div>
                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">Đúng hạn
                                    </label>
                                </div>
                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">Trễ hạn
                                    </label>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </p>

                        <p>
                            <div class="form-group">
                                <label> 3.	Kết quả tổ chức, người dân nhận được từ cơ quan hành chính Nhà nước</label>
                                <div class="clearfix"></div>
                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">Hài lòng
                                    </label>
                                </div>

                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" checked="" value="option3" id="optionsRadios3" name="optionsRadios">Tạm chấp nhận
                                    </label>
                                </div>

                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">Không hài lòng
                                    </label>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </p>

                        <p>
                            <div class="form-group">
                                <label> 3.	Việc tiếp nhận và xử lý phản ánh, kiến nghị của tổ chức và người dân về kết quả giải quyết công việc của cơ quan hành chính Nhà nước</label>
                                <div class="clearfix"></div>
                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">Hài lòng
                                    </label>
                                </div>

                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" checked="" value="option3" id="optionsRadios3" name="optionsRadios">Tạm chấp nhận
                                    </label>
                                </div>

                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">Không hài lòng
                                    </label>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </p>

                        <p>
                            <div class="form-group">
                                <label> 4.	Chi phí tổ chức, người dân phải trả để giải quyết công việc</label>
                                <div class="clearfix"></div>
                                <div class="row">

                                    <div class="col-xs-12">
                                        @*<div class="range range-primary">
                                                <input type="range" name="range" min="1" max="200" value="0" onchange="rangePrimary.value=value">
                                                <output id="rangePrimary">0</output>
                                            </div>*@
                                        <div class="radio col-sm-4  ">
                                            <label>
                                                <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">Cao
                                            </label>
                                        </div>

                                        <div class="radio col-sm-4  ">
                                            <label>
                                                <input type="radio" checked="" value="option3" id="optionsRadios3" name="optionsRadios">Bình thường
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">

        <div class="col-sm-offset-1 col-sm-10">

            <div class="panel panel-default">
                <div class="panel-heading">
                    ĐÁNH GIÁ TỶ LỆ HÀI LÒNG ĐỐI VỚI TOÀN BỘ QUÁ TRÌNH GIẢI QUYẾT THỦ TỤC HÀNH CHÍNH
                </div>
                <div class="panel-body">
                    <div class="col-md-12">

                        <p>
                            <div class="form-group">

                                <div class="clearfix"></div>
                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">Hài lòng
                                    </label>
                                </div>

                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" checked="" value="option3" id="optionsRadios3" name="optionsRadios">Tạm chấp nhận
                                    </label>
                                </div>

                                <div class="radio col-sm-4  ">
                                    <label>
                                        <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">Không hài lòng
                                    </label>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6">
            <button class="btn btn-info pull-right">Gửi đánh giá</button>
        </div>
    </div>
</form>
<hr>