
<div id="quiz">
    <div>
        <div ng-if="config.title=(mode!='review' ? true : false)">
            <p style="font-size: 22px;padding-top: 10px">
                Có tất cả <strong>{{totalItems}}</strong> câu hỏi, Ông/Bà đang đánh giá câu hỏi số:
            </p>
        </div>
        <div ng-if="config.title=(mode=='review' ? true : false)">
            <p style="font-size: 22px;padding-top: 10px">
                Danh sách các câu hỏi đã được Ông/Bà đánh giá chưa được
            </p>
        </div>
    </div>
    <h1 class="center title_quiz">{{quiz.name}}</h1>
    <h4 class="center sub_title_quiz">{{quiz.description}}</h4>
    <hr /><div class="quizNav ">
        <pagination class="pagination_spa" ng-show="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="config.allowReview=(currentPage==totalItems ? true : false)"></pagination>
        <button class="btn btn-danger btn_ketthuc" onclick="hidePopup();" ng-click="onSubmit();">Kết thúc</button>
    </div>
    <div ng-show="mode=='quiz'">
        <div ng-repeat="question in filteredQuestions">
            <div class="question">
                <input id="txtQuestionId" name="txtQuestionId" value="{{question.Id}}" type="text" class="hide" />
                <h2>{{currentPage}}. {{question.Name}}</h2>
                <div class="options" id="lblHeight{{currentPage}}">
                    <div ng-repeat="option in question.Options" ng-if="question.QuestionTypeId == 1" class="ng-scope_content ">
                        <label for="{{option.Id}}" class="changeHeight">
                            <input id="{{option.Id}}" type="checkbox" onclick="AutoSaveGopY();" ng-model="option.Selected" ng-change="onSelect(question, option);" />
                            {{option.Name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="quizNav ">
            <div>
                <!--<button class="btn btn-default" ng-show="config.allowBack" ng-click="goTo(1);">Đầu</button>-->
                <!--<button class="btn btn-primary btn_spa" ng-click="goTo(currentPage + 1);">Kế tiếp</button>-->
                <!--<button class="btn btn-default" ng-show="config.allowBack" ng-click="goTo(totalItems);">Cuối</button>-->
            </div>
            <div class="" ng-show="mode!='result'">
                <!--<button class="btn btn-default btn_spa " ng-show="config.allowBack" ng-click="goTo(currentPage - 1);">Quay lại</button>-->
                <button id="btton_review" class="btn btn-warning btn_spa" ng-show="config.allowReview" ng-click="mode = 'review'" ng-model="config.title" ng-change="config.title=(mode=='review' ? false : true)">Xem lại</button>
            </div>
            <br />
        </div>
    </div>
    <div class="review" ng-show="mode=='review'">
        <div ng-repeat="question in questions">
            <div ng-if="question.QuestionTypeId == 1" ng-click="goTo($index + 1)" class="{{ isAnswered($index) == 'Đã đánh giá'? 'answered': 'not-answered' }}">{{$index + 1}}. {{ isAnswered($index) }}</div>
        </div>
        <!--<div>
            <button class="btn btn-primary btn_spa" ng-click="goTo(currentPage)">Quay lại</button>
        </div>-->
    </div>
    <!--<div class="result" ng-show="mode=='result'">
        <h4 class="alert alert-info text-center">Cảm ơn bạn đã thực hiện bài đánh giá</h4>

        <a class="btn btn-primary" href="/">Trở về trang chủ</a>
        <a class="btn btn-primary" href="~/danhgia">Tiếp tục đánh giá hồ sơ khác</a>

        <h2>Bài đánh giá của bạn</h2>
        <div ng-repeat="question in questions">
            <div class="result-question">
                <h3>{{$index + 1}}. {{question.Name}}</h3>
                <div class="options">
                    <div ng-repeat="Option in question.Options" ng-if="question.QuestionTypeId == 1">
                        <label for="{{Option.Id}}" ng-click="onSelect(Option);" class="result-correct">
                            <input id="{{Option.Id}}" type="checkbox" disabled="disabled" ng-model="Option.Selected"/>
                            {{Option.Name}}
                        </label>
                    </div>

                    <div ng-repeat="Option in question.Options" ng-if="question.QuestionTypeId == 2" class="ng-scope_textarea">
                        <label for="{{Option.Id}}">
                            <textarea id="{{Option.Id}}" ng-model="Option.Selected" disabled="disabled"/>
                            {{Option.Name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>